.headerRow, 
.itemRow {
    display: table-row;
}
.headerRow>div,
.itemRow>div {
    display: table-cell;
}
.headerRow>div {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.itemRow>div {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
