---
layout: default
---
  <div class="banner" {% if page.image %}style="background-image: url(http://cdn.donlabs.com/1280x400/badytouray/{{ page.image }})"{% endif %}>
    <div class="container rel fh">
      <div class="banner-text">
        <h1 class="box">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  
<div class=""><div class="container">{% include system/sharing %}</div></div>
<div class="grey section" id="content">
  <div class="container"> 
    {{ content }}
    
    {% assign fights = (site.fights | where: 'published', 1 | sort: 'date') %}
    <div id="timeline" class="container">
    {% for item in fights reversed %}
    
      
      <div class="timeline-block" id="{{ item.slug }}">
        {% capture currentyear %}{{ item.date | date: "%Y" }}{% endcapture %}
        {% if currentyear != year %}
          {% capture year %}{{ currentyear }}{% endcapture %}
          <div class="text-center"><span class="label label-info rel">{{ currentyear }}</span></div>
        {% endif %}
        <div class="timeline-img result-{{ item.result }}">
          {{ item.result | capitalize }}
        </div>
        <div class="timeline-content">
          <img src="//cdn.donlabs.com/527x296/badytouray/{{ item.image }}"/>
          <h3><span><b>Bady</b> versus</span>{{ item.title }}</h3>
          <span class="text-muted">
            <i class="fa fa-calendar"></i> {{ item.date | date: '%d %B %Y' }}
            <i class="fa fa-map-marker"></i> {{ item.location }}
          </span>
          <p>{{ item.content }}</p>
        </div>
      </div>
    {% endfor %}
    </div>

  </div>
</div>


