---
layout: default
---
  {% assign next_fight = (site.fights | where: 'published', 1 | sort: 'date' | last) %}
  
  {% assign video = (page.youtube | split: 'v=') %}
  {% if video[1] contains '&' %}
     {% assign video = (video[1] | split: '&') %}
     {% capture id %}{{ video[0] }}{% endcapture %}
  {% else %}
     {% capture id %}{{ video[1] }}{% endcapture %}
  {% endif %}
  .versus
  <div class="next_fight">
    <h3 class="versus"><span><b>Bady</b> versus</span>{{ next_fight.title }} </h3>
    <div class="datebox" id="countdown" data-date="{{ next_fight.date }}"></div>
  </div>
  
  <div class="fh" id="home" data-video="{{ id }}"></div>
  <div class="section" id="content">
    <div class="container">
      <h1 class="page-header">{{ page.title }}</h1>
      <p class="lead">{{ content | strip_html | newline_to_br }}</p>
    </div>
  </div>
  
  {% assign fights = (site.fights | where: 'published', 1 | sort: 'date') %}
  {% include module module="fights" class="grey" title="Fights" items=fights %} 
  
  {% assign sponsors = (site.sponsors | where: 'published', 1 | sort: 'order') %}
  {% include module module="sponsors" title="Sponsors" items=sponsors %}