---
layout: default
---
  {% assign next_fight = (site.fights | where: 'published', 1 | sort: 'date' | last) %}
  
  {% capture tickets %}{% for i in (1..5) %}{{ next_fight["ticket_" + i] }}|{% endfor %}{% endcapture %}
  {% assign tickets = (tickets | split: '|') %}
  
  {% capture prices %}{% for i in (1..5) %}{{ next_fight["price_" + i] }}|{% endfor %}{% endcapture %}
  {% assign prices = (prices | split: '|') %}
  
  {% assign video = (page.youtube | split: 'v=') %}
  {% if video[1] contains '&' %}
     {% assign video = (video[1] | split: '&') %}
     {% capture id %}{{ video[0] }}{% endcapture %}
  {% else %}
     {% capture id %}{{ video[1] }}{% endcapture %}
  {% endif %}
  <div class="next_fight">
    <h3 class="text-info">Next Fight</h3>
    <h3 class="versus">
      <span><b>Bady</b><div class="text-info">versus</div></span>
      {{ next_fight.title }}
    </h3>
    <div>
      <div class="datebox" id="countdown" data-date="{{ next_fight.date }}"></div>
      {% if prices %}<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-lg" style="margin-top:-28px">Buy Tickets</button>{% endif %}
    </div>
  </div>
  
  <div class="fh" id="home" data-video="{{ id }}"></div>
  <div class="section" id="content">
    <div class="container">
      <h1 class="page-header">{{ page.title }}</h1>
      <p class="lead">{{ content | strip_html | newline_to_br }}</p>
    </div>
  </div>
  
  {% include module module="fights" class="black" title="Fights" limit="3" %}
  
  {% include module module="videos" class="grey" title="Videos" limit="3" %}  
  
  {% include module module="sponsors" title="Sponsors" items=sponsors %}
  
  
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <form class="form-horizontal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Buy Tickets</h4>
      </div>
      <div class="modal-body">
      <div class="form-group">
        <label for="quantity" class="col-sm-4 control-label">Ticket</label>
        <div class="col-sm-7">Bady vs. {{ next_fight.title }}</div>
      </div>
      <div class="form-group">
        <label for="quantity" class="col-sm-4 control-label">Price</label>
        <div class="col-sm-7">{{ next_fight.price }}</div>
      </div>
      <div class="form-group">
        <label for="quantity" class="col-sm-4 control-label">Ticket Type</label>
        <div class="col-sm-7">
        {{ prices | jsonify }}
          <select name="amount" class="form-control" onchange="">
            {% for price in prices %}{% if price %}
            <option value="{{ price }}">{{ tickets[forloop.index] }}</option>
            {% endif %}{% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="quantity" class="col-sm-4 control-label">Quantity</label>
        <div class="col-sm-7">
          <select name="quantity" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
    <!--PAYPAL VARIABLES-->
        <input type='hidden' name='item_name' value='Bady vs. {{ next_fight.title }}'>
        <input type='hidden' name='amount' value='{{ next_fight.price }}'>
    	<input type='hidden' name='cmd' value='_xclick'>
    	<input type='hidden' name='rm' value='2'>
    	<input type="hidden" name="business" value="{{ site.paypal }}" />
    	<input type='hidden' name='return' value='{{ site.url }}'>
    	<input type='hidden' name='cancel_return' value='{{ site.url }}'>
    	<input type="hidden" name="notify_url" value="" />
    	<input type='hidden' name='currency_code' value='GBP'>
    	<input type='hidden' name='no_note' value='1'>
    	<input type="hidden" name="upload" value="1">
    	<input type="hidden" name=”charset” value=”utf-8”>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </form>
  </div>
</div>
