---
layout: default
---
  {% assign video = (item.youtube | split: 'v=') %}
  {% if video[1] contains '&' %}
     {% assign video = (video[1] | split: '&') %}
     {% capture id %}{{ video[0] }}{% endcapture %}
  {% else %}
     {% capture id %}{{ video[1] }}{% endcapture %}
  {% endif %}
  <div class="fh" id="home" video="{{ id }}">
      
  </div>
  <div class="section" id="content">
    <div class="container">
      <h1 class="page-header">{{ page.title }}</h1>
      <p class="lead">{{ content | strip_html | newline_to_br }}</p>
    </div>
  </div>
  
  {% assign fights = (site.fights reversed | where: 'published', 1 | sort: 'date') %}
  {% include module module="fights" class="grey" title="Fights" items=fights %} 
  
  {% assign sponsors = (site.sponsors | where: 'published', 1 | sort: 'order') %}
  {% include module module="sponsors" title="Sponsors" items=sponsors %}