---
layout: default
---
{% include modules/banner.html %}
<div class="section" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">{{ content }}</div>
      <div class="col-sm-4">
        <img src="//cdn.donlabs.com/360x0/badytouray/{{ page.avatar }}"><br><br>
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Bady's Bio</h3></div>
          <div class="panel-body">
            <table class="table table-striped">
              <tbody>
              <tr>
                <td><strong>Name</strong></td>
                <td>{{ page.name }}</td>
              </tr>
              <tr>
                <td><strong>Nationality</strong></td>
                <td>{{ page.nationality }}</td>
              </tr>
              <tr>
                <td><strong>Date of Birth</strong></td>
                <td>{{ page.birthday }}</td>
              </tr>
              <tr>
                <td><strong>Hometown</strong></td>
                <td>{{ page.hometown }}</td>
              </tr>
              {% capture weight_class %}
              {% if page.weight > 90.7 %}Heavyweight
              {% elsif page.weight > 79.4 %}Cruiserweight
              {% elsif page.weight > 76.2 %}Light heavyweight
              {% elsif page.weight > 72.5 %}Super middleweight	
              {% elsif page.weight > 69.9 %}Middleweight
              {% elsif page.weight > 66.7 %}Super welterweight
              {% elsif page.weight > 63.5 %}Welterweight
              {% elsif page.weight > 61.2 %}Super lightweight
              {% elsif page.weight > 59 %}Lightweight
              {% elsif page.weight > 57.2 %}Super featherweight
              {% else %}Featherweight
              {% endif %}
              {% endcapture %}
              
              {% assign weight_stone = (page.weight | times: 0.157473 | round) %}
              {% assign weight_lbs = (page.weight | modulo: weight_stone | times: 2.2) %}
              
              <tr>
                <td><strong>Weight Class</strong></td>
                <td>{{ weight_class }}</td>
              </tr>
              <tr>
                <td><strong>Weight</strong></td>
                <td>{{ weight_stone }} stone, {{ weight_lbs }}lbs </td>
              </tr>
              <tr>
                <td><strong>Height</strong></td>
                <td>{{ page.height }}</td>
              </tr>
              <tr>
                <td><strong>Coach</strong></td>
                <td>{{ page.coach }}</td>
              </tr>
              <tr>
                <td><strong>Inspiration</strong></td>
                <td>{{ page.inspiration }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>