---
layout: default
---

<div class="section shop" id="shop" >
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><img src="http://cdn.donlabs.com/400x400/badytouray/{{ page.image }}"></div>
      <div class="col-sm-8">
        <div class="simpleCart_shelfItem">
          <h1 class="h2 media-heading item_name page-heading">{{ page.title }}</h1>
          <span class="h3 text-info item_price">£{{ page.price }}</span>
          <div>{{ content }}</div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Size</div>
              <select class="form-control">
                {% for size in page.sizes %}
                <option value="{{ size.name }}">{{ size.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        <select class="item_Quantity" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        <a class="item_add btn btn-danger btn-lg" href="javascript:;"> Add to Cart </a>
      </div>
      </div>
    </div>
    
  </div>
</div>
