---
layout: default
---

<div class="section shop" id="shop" >
  <div class="container">
    <div class="row">
      <div class="col-sm-6"><img src="{{ site.url }}/{{ page.image }}"></div>
      <div class="col-sm-6">
        <div class="simpleCart_shelfItem">
        <h1 class="h2 item_name">{{ page.title }}</h1>
        <input type="text" value="1" class="item_Quantity"><br>
        <span class="item_price">$35.99</span><br>
        {{ content }}
        <a class="item_add" href="javascript:;"> Add to Cart </a>
      </div>
      </div>
    </div>
    
  </div>
</div>
