---
layout: default
---

<div class="section shop" id="shop" >
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><img src="http://cdn.donlabs.com/400x400/badytouray/{{ page.image }}"></div>
      <div class="col-sm-8">
        <div class="simpleCart_shelfItem">
        <h1 class="h3 item_name">{{ page.title }}</h1>
        <span class="h4 text-info item_price">£{{ page.price }}</span>
        <input type="text" value="1" class="item_Quantity"><br>
        {{ content }}
        <a class="item_add" href="javascript:;"> Add to Cart </a>
      </div>
      </div>
    </div>
    
  </div>
</div>
