---
layout: default
banner: false
---
<div class="section shop" id="content">
  <div class="container">
    <h1 class="page-header">{{ page.title }}</h1>
    {{ content }}
    <br>
    {% assign items = (site.shop | where: 'category', page.slug | where: 'published', 1 | sort: 'order') %}
    <div class="row equal">
    {% for item in items %}
      <div class="col-sm-4 col-md-3">
        <a class="thumb" href="{{ site.url }}{{ item.url }}" >
          <figure>
            <div class="thumb-square img" style="background-image: url({{ item.image | prepend: (site.cdn | replace: '0x0', '263x0') }})"></div>
          </figure>
          <h3 class="text-center">{{ item.title }}</h3>
      <div class="h4 text-info text-center">&pound;{{ item.price }}</div>
        </a><br>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


