---
layout: default
---
{% include module module="carousel" category=site.shop %}

<div class="section" id="content">
  <div class="container">
    {{ content }}
    <br>
    {% assign items = (site.shop_categories | where: 'published', 1 | sort: 'order') %}
    <div class="row equal">
    {% for item in items %}
      <div class="col-sm-4 col-md-3">
        <a class="thumb" href="{{ site.url }}{{ item.url }}" >
          <figure>
            <div class="thumb-square img" style="background-image: url(//cdn.donlabs.com/263x263/badytouray/{{ item.image }})"></div>
          </figure>
          <h3>{{ item.title }}</h3>
        </a><br>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


