---
layout: default
---
{% include modules/banner.html %}

<div class="section" id="content">
  <div class="container">
    {{ content }}
    <br>
    {% assign items = (site.videos | where: 'published', 1 | sort: 'order') %}
      <div class="row equal">
        {% for item in items %}
        {% capture video %}{{ item.youtube | split: 'v=' }}{% endcapture %}
        {% if video[1] contains '&' %}
           {% capture video %}{{ video[1] | split: '&' }}{% endcapture %}
           {% capture id %}{{ video[0] }}{% endcapture %}
        {% else %}
           {% capture id %}{{ video[1] }}{% endcapture %}
        {% endif %}
        <div class="col-sm-6 col-md-4"><a class="thumb" href="{{ item.youtube }}" >
        {{ id }}
        {{ video }}
        <figure>
          <div class="thumb-wide img" style="background-image: url(http://img.youtube.com/vi/{{ id }}/0.jpg)"></div>
        </figure>
        {% if item.title %}<h3>{{ item.title }}</h3>{% endif %}
        </a><br></div>{% endfor %}
      </div>
  </div>
</div>


