  <div id="carousel" class="carousel slide" data-ride="carousel" style="margin-top:131px";
  <!-- Indicators -->
    <div class="container rel">
      <ol class="carousel-indicators">
        {% capture i %}0{% endcapture %}
        {% for item in include.params.category %}
        <li data-target="#carousel" data-slide-to="{{i}}" class="{% if {{i}} == '0' %}active{% endif %}"></li>
        {% capture i %}{{ i | plus:1 }}{% endcapture %}
        {% endfor %}
      </ol>
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% capture i %}0{% endcapture %}
      {% for item in include.params.category %}
      <a class="item {% if {{i}} == '0' %}active{% endif %}" href="{{ site.url }}{{ item.url }}">
        <div class="thumb-wide" style="background-image:url(http://cdn.donlabs.com/1280x720/badytouray/{{ item.image }})"></div>
        <div class="next_fight">
          <h3 class="box">{{ item.title }}</h3>
          <span class="box h4 text-info">&pound;{{ item.price }}</span>
        </div>
      </a>
      {% capture i %}{{ i | plus:1 }}{% endcapture %}
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a class="arrow-down" href="#content">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>